<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <!-- <img src="assets/images/logo.png" alt="" class="logo"> -->
            <div class="h5">LOGO</div>
        </span>
        <div class="d-flex fs-4">
            <i class="fab fa-instagram px-2 social"></i>
            <i class="fab fa-youtube px-2 social"></i>
            <i class="fab fa-facebook-f px-2 social"></i>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>