<p class="h3 fw-bold">Dashboard</p>
<hr style="width:97%;">
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col mx-3">
                <div class="row card1">
                    <div class="col">
                        <div class="h6 text-white">Total Holidays</div>
                        <div class="h6 text-white">Holidays Taken</div>
                        <div class="h6 text-white">Holidays Left</div>
                        <div class="h6 text-white">Holidays Applied</div>
                    </div>
                    <div class="col">
                        <div class="h6 text-white">30</div>
                        <div class="h6 text-white">0</div>
                        <div class="h6 text-white">30</div>
                        <div class="h6 text-white">0</div>
                    </div>
                </div>
            </div>
            <div class="col mx-3">
                <div class="row card2">
                    <div class="col">
                        <div class="h6 text-white">Current Month Working Hours</div>
                        <div class="h6 text-white">Current Month Overtime</div>
                        <div class="h6 text-white">Total Overtime</div>
                    </div>
                    <div class="col">
                        <div class="h6 text-white">0</div>
                        <div class="h6 text-white">0</div>
                        <div class="h6 text-white">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>